.title{
    color: #010a02;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
 }
 body{
    background-color: rgb(194, 233, 186)
 }
 #comparisonoflatitude{
    margin-top: 60px;
    text-align: left;
 }
 p{
    font-family: Verdana, Geneva, sans-serif;
 }
 #visualizationsofdata{
    margin-top: 60px;
    text-align: left;
 }
 #latitudetotemperature{
    margin-top: 60px;
    text-align: center;
 }
 #latitudetohumidity{
    margin-top: 60px;
    text-align: center;
 }
 #latitudetocloudiness{
    margin-top: 60px;
    text-align: center;
 }
 #latitudetowind{
    margin-top: 60px;
    text-align: center;
 }
 #comparisonsof{
    margin-top: 20px;
 }
 #data{
    margin-top: 20px;
 }
 